a {
    text-decoration: none;
    display: flex;
    color: inherit;
    align-items: center;
}

.vhdReg {
    margin: 5px;
}

.outButton {
    height: 40px;
}

.reg_title {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 20px;
}

.list-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-navigation {
    display: flex;
    width: 700px;
    padding: 0 20px;
    margin: 0 auto;
    min-height: 75px;
    justify-content: space-between;
}

.site-header {
    position: relative;
    z-index: 2;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.navigation-list {
    display: flex;
    margin: 0 -15px 0 0;
    padding: 0;

    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.zagolovok-profil {
    width: 890px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.profile-photo-otdel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.profile-chenge-avatar {
    padding-top: 10px;
}

.profile-delete-avatar {
    padding-top: 10px;
    color: red;
    padding-bottom: 10px;
}

.profile-avatar {
     border-radius: 100px;
     border: 1px solid;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 150px;
    width: 150px;
 }

.profile-avatar-img {
    padding-top: 10px;
    padding-bottom: 5px;
}

.profile-photo {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.navigation-list a {
    display: flex;
    padding: 10px 20px 10px;
    color: #845927;
}

.site-m {
    margin-top: 100px;
}

.site-main {
    display: flex;
    width: 700px;
    margin: 0 auto;
    padding-top: 100px;
    justify-content: space-between;
    align-items: center;
}
.p-main {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

table {
    margin: 0px 0px 2% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 10px;
}

.container {
    border: blueviolet;
}

.mess-h1 {
    margin-top: 0px;
}

.form-text {
    position: relative;
    z-index: 2;
    padding: 20px;
    width: 380px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.form-text2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 20px;
    width: 225px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.list-text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #845927;
}

select#id2 {
    width: 200px;
    display: flex;
}

.sel2 {
    display: flex;
    justify-content: center;
}

.sel2-1 {
    display: flex;
    justify-content: space-between;
    width: 258px;
}

.form {
    margin-top: 27px;
    position: relative;
    z-index: 2;
    padding: 20px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.catalog-title {
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #845927;
}

.logPass {
    display: flex;
    justify-content: center;
}

.logPassContainer {

    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.colorError{
    color: red;
}

input#id1 {
    width: 250px;
    height: 30px;
}

input#id2 {
    width: 250px;
    height: 30px;
}

input#lastname {
    width: 250px;
    height: 30px;
}

input#name {
    width: 250px;
    height: 30px;
}

input#surname {
    width: 250px;
    height: 30px;
}

input#email {
    width: 250px;
    height: 30px;
}

input#login {
    width: 250px;
    height: 30px;
}

input#password {
    width: 250px;
    height: 30px;
}

.vhd {
    display: flex;
    justify-content: center;
}

.vhd_btn {
    display: block;
    padding: 10px 20px 10px;
    color: #845927;
}

.reg_btn {
    display: block;
    padding: 10px 20px 10px;
    color: #845927;
}

.error {
    margin-top: 0px;
    color: red;
    font-size: 12px;
}

.MAD-CD {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.QAD-CD {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.error1 {
    padding-left: 200px;
    color: red;
    font-size: 33px;
}

.okno {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
}